# Ignore the site output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore dependency directories
node_modules/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

# Ignore local configuration files
.env
*.local

# Ignore log files and temp files
*.log
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/

# Ignore Netlify files (if you use Netlify CLI locally)
.netlify/

# Ignore byebug command history file.
.byebug_history
